<div th:fragment="menus">
<table style="list-style-type: none;margin: 5px;padding: 0px;width: 100%;background-color: #f1f1f1;position: fixed;height: 15%;overflow: auto;">
  <tr>
    <td><a class="active" href="#home" style="display: block;color: white;padding: 8px 10px;text-decoration: none;background-color: #04AA6D;">Home</a></td>
    <td><a href="/query" style="display: block;color: #000;padding: 8px 10px;text-decoration: none;">Query</a></td>
    <td><a href="/results/cached" style="display: block;color: #000;padding: 8px 10px;text-decoration: none;">Results</a></td>
    <td><a href="/display-full/cached" style="display: block;color: #000;padding: 8px 10px;text-decoration: none;">Last Result Visited</a></td>
    <td><div th:insert="~{fragments/search :: search-container('')}"></div></td>
  </tr>
</table>
</div>